*{
    margin : 0;
    padding :0;

}

body{
    background-color: aqua;
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    
    justify-content:center  ;
    align-items: center;
    
    

}
.game{

    height: 60vmin;
    width:60vmin;
    display:flex;
    
    flex-wrap: wrap;
    justify-content:center  ;
    align-items: center;
    gap : 1.5vmin;
}

.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 16px;
    border : none;
    box-shadow: 0 0 16px rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:red;
    
    
    
    
    
    

}
#reset{
    height: 8vmin;
    width:16vmin;
    
    color:black;
    border : none;
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(0.3,0,0,0.3);
    background-color: yellow;

}


.msg-container{
    height : 150vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;


}

#msg{
    color:white;
    font-size:5vmin;
    
    

}

#newbtn{
    background-color:RED;
    height: 8vmin;
    width:16vmin;
    
    color:black;
    border : none;
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(0.3,0,0,0.3);
}



.hide{
    display: none;
}

